HELP.md
**/target/**
**/out/**
**/output/**
.mvn/wrapper/maven-wrapper.jar
**/.mvn/**
**/.idea/**
**/mvnw**
**/mvnw.cmd**
/imdb-extractor/.git/**
**/.gradle/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
**/.idea/**
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
